{{#each nail_polishes as |polish|}}
  <section id="{{polish.id}}" class="col-md-6 col-lg-4 d-flex justify-content-start flex-column align-items-center">
    <h6 class="brand mt-2">Brand: {{polish.brand}}</h6>
    <h6>Name: {{polish.color_name}}</h6>
    <h6>Color:</h6>
    <div class="swatch mb-2 mt-1" style="background-color:{{polish.color}};"></div>

    {{#if polish.editable}}
    <div class="update-delete-container">
      <button data-id="{{polish.id}}" data-brand="{{polish.brand}}" data-color-name="{{color_name}}" data-color="{{color}}" class='btn btn-outline-dark btn-small update-button'>Update</button>
      <button data-id="{{polish.id}}" class='btn btn-outline-dark btn-small delete-button'>Remove</button>
    {{/if}}
    </div>
  </section>

{{/each}}
