{{#each nail_polishes as |polish|}}
  {{log polish}}
  <section data-id="{{polish.id}}" class="{{#if polish.user}}has-user{{/if}}">
    <h6>Name:</h6>
    <h3>
      {{limit polish.name 15}}
    </h3>
    <h6>User:</h6>
    <p>
      {{#if polish.user}}
        {{polish.user}}
      {{else}}
        No user provided.
      {{/if}}
    </p>
    <!-- {{> partial}} -->
    <!-- <button data-id="{{polish.id}}" class= 'btn btn-danger delete-button'>Remove polish</button>
  </section>

<!-- {{/each}} -->

<!-- FINISH ADJUSTING FROM BOOKS EXAMPLE TO POLISH EXAMPLE --> -->
