{{#each nail_polishes as |polish|}}
  <section id="{{polish.id}}">
    <h6>Brand:</h6>
    <h3>
      {{polish.brand}}
    </h3>
    <h6>Name:</h6>
    <p>
        {{polish.color_name}}
    </p>
    <h6>Color:</h6>
    <div style="background-color:{{polish.color}}; height:3rem; width:3rem; border-radius:50%"></div>
    <button data-id="{{polish.id}}" class= 'btn btn-danger delete-button'>Remove polish</button>

  </section>

{{/each}}

<!-- FINISH ADJUSTING FROM BOOKS EXAMPLE TO POLISH EXAMPLE -->
